@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
	--cardinal-50: #fdf4f3;
	--cardinal-100: #fce7e7;
	--cardinal-200: #f8d3d4;
	--cardinal-300: #f3aeb1;
	--cardinal-400: #eb8186;
	--cardinal-500: #df545f;
	--cardinal-600: #ca3447;
	--cardinal-700: #bb2a40;
	--cardinal-800: #8e2336;
	--cardinal-900: #7a2134;
	--cardinal-950: #440d18;
	--brandy-punch-50: #fbf8ef;
	--brandy-punch-100: #f3e9d2;
	--brandy-punch-200: #e7d0a0;
	--brandy-punch-300: #dab46f;
	--brandy-punch-400: #d29d4d;
	--brandy-punch-500: #c78037;
	--brandy-punch-600: #b0642f;
	--brandy-punch-700: #934a2a;
	--brandy-punch-800: #793c27;
	--brandy-punch-900: #643323;
	--brandy-punch-950: #381910;
	--aqua-forest-50: #f1f8f2;
	--aqua-forest-100: #dcefdc;
	--aqua-forest-200: #bcdebe;
	--aqua-forest-300: #90c597;
	--aqua-forest-400: #67aa72;
	--aqua-forest-500: #3f8a4e;
	--aqua-forest-600: #2e6d3c;
	--aqua-forest-700: #255731;
	--aqua-forest-800: #1f4629;
	--aqua-forest-900: #1a3a22;
	--aqua-forest-950: #0e2014;
	--warm-gray-50: #f3f2f2;
	--warm-gray-100: #e7e4e4;
	--warm-gray-200: #cfc9c9;
	--warm-gray-300: #b6afaf;
	--warm-gray-400: #9e9494;
	--warm-gray-500: #867979;
	--warm-gray-600: #6b6161;
	--warm-gray-700: #504949;
	--warm-gray-800: #363030;
	--warm-gray-900: #1f1414;
	--warm-gray-950: #0f0a0a;
	--cool-gray-50: #f5f8fa;
	--cool-gray-100: #e0e6eb;
	--cool-gray-200: #c2cdd6;
	--cool-gray-300: #a3b4c2;
	--cool-gray-400: #859aad;
	--cool-gray-500: #668199;
	--cool-gray-600: #52677a;
	--cool-gray-700: #3d4e5c;
	--cool-gray-800: #29343d;
	--cool-gray-900: #141a1f;
	--cool-gray-950: #0a0d0f;
	--neutral-gray-50: #f2f3f3;
	--neutral-gray-100: #e5e6e6;
	--neutral-gray-200: #cbcccd;
	--neutral-gray-300: #b1b3b4;
	--neutral-gray-400: #97999b;
	--neutral-gray-500: #7d8082;
	--neutral-gray-600: #646668;
	--neutral-gray-700: #4b4d4e;
	--neutral-gray-800: #323334;
	--neutral-gray-900: #191a1a;
	--neutral-gray-950: #0c0d0d;
	--fuchsia-blue-50: #faf6fe;
	--fuchsia-blue-100: #f2ebfc;
	--fuchsia-blue-200: #e7dafa;
	--fuchsia-blue-300: #d5bdf5;
	--fuchsia-blue-400: #bc93ed;
	--fuchsia-blue-500: #a269e3;
	--fuchsia-blue-600: #8a48d3;
	--fuchsia-blue-700: #7737b9;
	--fuchsia-blue-800: #643297;
	--fuchsia-blue-900: #52297a;
	--fuchsia-blue-950: #361259;
	--science-blue-50: #f1f7fe;
	--science-blue-100: #e3ecfb;
	--science-blue-200: #c0d9f7;
	--science-blue-300: #88bbf1;
	--science-blue-400: #4998e7;
	--science-blue-500: #227bd5;
	--science-blue-600: #1565c0;
	--science-blue-700: #114c93;
	--science-blue-800: #12427a;
	--science-blue-900: #153965;
	--science-blue-950: #0e2443;
	--spacing-0: 0;
	--spacing-2: 0.125rem;
	--spacing-4: 0.25rem;
	--spacing-8: 0.5rem;
	--spacing-12: 0.75rem;
	--spacing-16: 1rem;
	--spacing-20: 1.25rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-48: 3rem;
	--spacing-64: 4rem;
	--spacing-96: 6rem;
	--spacing-128: 8rem;
	--spacing-192: 12rem;
	--spacing-256: 16rem;
	--spacing-384: 24rem;
	--spacing-512: 32rem;
	--spacing-640: 40rem;
	--spacing-768: 48rem;
	--radius-none: 0;
	--radius-sm: 0.125rem;
	--radius-md: 0.25rem;
	--radius-lg: 0.5rem;
	--radius-xl: 1rem;
	--radius-full: 9999px;
	--text-size-12: 12px;
	--text-size-14: 14px;
	--text-size-16: 16px;
	--text-size-18: 18px;
	--text-size-20: 20px;
	--text-size-24: 24px;
	--text-size-30: 30px;
	--text-size-36: 36px;
	--text-size-48: 48px;
	--text-size-60: 60px;
	--text-size-72: 72px;
	--primary-50: var(--science-blue-50);
	--primary-100: var(--science-blue-100);
	--primary-200: var(--science-blue-200);
	--primary-300: var(--science-blue-300);
	--primary-400: var(--science-blue-400);
	--primary-500: var(--science-blue-500);
	--primary-600: var(--science-blue-600);
	--primary-700: var(--science-blue-700);
	--primary-800: var(--science-blue-800);
	--primary-900: var(--science-blue-900);
	--primary-950: var(--science-blue-950);
	--secondary-50: var(--fuchsia-blue-50);
	--secondary-100: var(--fuchsia-blue-100);
	--secondary-200: var(--fuchsia-blue-200);
	--secondary-300: var(--fuchsia-blue-300);
	--secondary-400: var(--fuchsia-blue-400);
	--secondary-500: var(--fuchsia-blue-500);
	--secondary-600: var(--fuchsia-blue-600);
	--secondary-700: var(--fuchsia-blue-700);
	--secondary-800: var(--fuchsia-blue-800);
	--secondary-900: var(--fuchsia-blue-900);
	--secondary-950: var(--fuchsia-blue-950);
	--success-50: var(--aqua-forest-50);
	--success-100: var(--aqua-forest-100);
	--success-200: var(--aqua-forest-200);
	--success-300: var(--aqua-forest-300);
	--success-400: var(--aqua-forest-400);
	--success-500: var(--aqua-forest-500);
	--success-600: var(--aqua-forest-600);
	--success-700: var(--aqua-forest-700);
	--success-800: var(--aqua-forest-800);
	--success-900: var(--aqua-forest-900);
	--success-950: var(--aqua-forest-950);
	--warning-50: var(--brandy-punch-50);
	--warning-100: var(--brandy-punch-100);
	--warning-200: var(--brandy-punch-200);
	--warning-300: var(--brandy-punch-300);
	--warning-400: var(--brandy-punch-400);
	--warning-500: var(--brandy-punch-500);
	--warning-600: var(--brandy-punch-600);
	--warning-700: var(--brandy-punch-700);
	--warning-800: var(--brandy-punch-800);
	--warning-900: var(--brandy-punch-900);
	--warning-950: var(--brandy-punch-950);
	--danger-50: var(--cardinal-50);
	--danger-100: var(--cardinal-100);
	--danger-200: var(--cardinal-200);
	--danger-300: var(--cardinal-300);
	--danger-400: var(--cardinal-400);
	--danger-500: var(--cardinal-500);
	--danger-600: var(--cardinal-600);
	--danger-700: var(--cardinal-700);
	--danger-800: var(--cardinal-800);
	--danger-900: var(--cardinal-900);
	--danger-950: var(--cardinal-950);
	--neutral-50: var(--cool-gray-50);
	--neutral-100: var(--cool-gray-100);
	--neutral-200: var(--cool-gray-200);
	--neutral-300: var(--cool-gray-300);
	--neutral-400: var(--cool-gray-400);
	--neutral-500: var(--cool-gray-500);
	--neutral-600: var(--cool-gray-600);
	--neutral-700: var(--cool-gray-700);
	--neutral-800: var(--cool-gray-800);
	--neutral-900: var(--cool-gray-900);
	--neutral-950: var(--cool-gray-950);
	--background-subtle: var(--neutral-50);
	--background-default: var(--neutral-100);
	--surface-subtle: var(--neutral-100);
	--surface-default: var(--neutral-200);
	--accent-neutral: var(--neutral-600);
	--accent-neutral-hover: var(--neutral-700);
	--accent-neutral-active: var(--neutral-800);
	--accent-neutral-negative: var(--neutral-300);
	--accent-neutral-negative-hover: var(--neutral-200);
	--accent-neutral-negative-active: var(--neutral-100);
	--accent-neutral-subtle: var(--neutral-50);
	--accent-neutral-subtle-hover: var(--neutral-100);
	--accent-neutral-subtle-active: var(--neutral-200);
	--accent-primary: var(--primary-500);
	--accent-primary-hover: var(--primary-600);
	--accent-primary-active: var(--primary-700);
	--accent-primary-negative: var(--primary-500);
	--accent-primary-negative-hover: var(--primary-400);
	--accent-primary-negative-active: var(--primary-300);
	--accent-primary-subtle: var(--primary-50);
	--accent-primary-subtle-hover: var(--primary-100);
	--accent-primary-subtle-active: var(--primary-200);
	--accent-primary-disabled: var(--primary-200);
	--accent-secondary: var(--secondary-500);
	--accent-secondary-hover: var(--secondary-600);
	--accent-secondary-active: var(--secondary-700);
	--accent-secondary-negative: var(--secondary-500);
	--accent-secondary-negative-hover: var(--secondary-400);
	--accent-secondary-negative-active: var(--secondary-300);
	--accent-secondary-subtle: var(--secondary-50);
	--accent-secondary-subtle-hover: var(--secondary-100);
	--accent-secondary-subtle-active: var(--secondary-200);
	--accent-secondary-disabled: var(--secondary-200);
	--accent-success: var(--success-500);
	--accent-success-hover: var(--success-600);
	--accent-success-active: var(--success-700);
	--accent-success-negative: var(--success-500);
	--accent-success-negative-hover: var(--success-400);
	--accent-success-negative-active: var(--success-300);
	--accent-success-subtle: var(--success-50);
	--accent-success-subtle-hover: var(--success-100);
	--accent-success-subtle-active: var(--success-200);
	--accent-success-disabled: var(--success-200);
	--accent-warning: var(--warning-500);
	--accent-warning-hover: var(--warning-600);
	--accent-warning-active: var(--warning-700);
	--accent-warning-negative: var(--warning-500);
	--accent-warning-negative-hover: var(--warning-400);
	--accent-warning-negative-active: var(--warning-300);
	--accent-warning-subtle: var(--warning-50);
	--accent-warning-subtle-hover: var(--warning-100);
	--accent-warning-subtle-active: var(--warning-200);
	--accent-warning-disabled: var(--warning-200);
	--accent-danger: var(--danger-500);
	--accent-danger-hover: var(--danger-600);
	--accent-danger-active: var(--danger-700);
	--accent-danger-negative: var(--danger-500);
	--accent-danger-negative-hover: var(--danger-400);
	--accent-danger-negative-active: var(--danger-300);
	--accent-danger-subtle: var(--danger-50);
	--accent-danger-subtle-hover: var(--danger-100);
	--accent-danger-subtle-active: var(--danger-200);
	--accent-danger-disabled: var(--danger-200);
	--border-neutral: var(--neutral-300);
	--border-neutral-hover: var(--neutral-400);
	--border-neutral-active: var(--neutral-500);
	--border-neutral-negative: var(--neutral-700);
	--border-neutral-negative-hover: var(--neutral-600);
	--border-neutral-negative-active: var(--neutral-500);
	--border-primary: var(--primary-500);
	--border-primary-hover: var(--primary-600);
	--border-primary-active: var(--primary-700);
	--border-primary-negative: var(--primary-500);
	--border-primary-negative-hover: var(--primary-400);
	--border-primary-negative-active: var(--primary-300);
	--border-secondary: var(--secondary-500);
	--border-secondary-hover: var(--secondary-600);
	--border-secondary-active: var(--secondary-700);
	--border-secondary-negative: var(--secondary-500);
	--border-secondary-negative-hover: var(--secondary-400);
	--border-success: var(--success-500);
	--border-success-hover: var(--success-600);
	--border-success-active: var(--success-700);
	--border-success-negative: var(--success-500);
	--border-success-negative-hover: var(--success-400);
	--border-success-negative-active: var(--success-300);
	--border-warning: var(--warning-500);
	--border-warning-hover: var(--warning-600);
	--border-warning-active: var(--warning-700);
	--border-warning-negative: var(--warning-500);
	--border-warning-negative-hover: var(--warning-400);
	--border-warning-negative-active: var(--warning-300);
	--border-danger: var(--danger-500);
	--border-danger-hover: var(--danger-600);
	--border-danger-active: var(--danger-700);
	--border-danger-negative: var(--danger-500);
	--border-danger-negative-hover: var(--danger-400);
	--border-danger-negative-active: var(--danger-300);
	--border-focus-outline: var(--primary-500);
	--text-default: var(--neutral-900);
	--text-subtle: var(--neutral-700);
	--text-disabled: var(--neutral-500);
	--text-inverse: var(--neutral-100);
	--text-link: var(--primary-500);
	--text-link-hover: var(--primary-600);
	--text-link-active: var(--primary-700);
	--text-link-visited: var(--primary-700);
	--text-link-disabled: var(--neutral-500);
	--text-on-neutral: var(--neutral-50);
	--text-on-neutral-hover: var(--neutral-100);
	--text-on-neutral-active: var(--neutral-200);
	--text-on-neutral-disabled: var(--neutral-900);
	--text-on-neutral-subtle-subtle: var(--neutral-400);
	--text-neutral: var(--neutral-900);
	--text-neutral-hover: var(--neutral-800);
	--text-neutral-active: var(--neutral-700);
	--text-on-primary: var(--neutral-900);
	--text-on-primary-hover: var(--neutral-800);
	--text-on-primary-active: var(--neutral-700);
	--text-on-primary-disabled: var(--neutral-900);
	--text-on-primary-subtle-subtle: var(--neutral-400);
	--text-primary: var(--neutral-900);
	--text-primary-hover: var(--neutral-800);
	--text-primary-active: var(--neutral-700);
	--text-on-secondary: var(--neutral-900);
	--text-on-secondary-hover: var(--neutral-800);
	--text-on-secondary-active: var(--neutral-700);
	--text-on-secondary-disabled: var(--neutral-900);
	--text-on-secondary-subtle-subtle: var(--neutral-400);
	--text-secondary: var(--neutral-900);
	--text-secondary-hover: var(--neutral-800);
	--text-secondary-active: var(--neutral-700);
	--text-on-success: var(--neutral-900);
	--text-on-success-hover: var(--neutral-800);
	--text-on-success-active: var(--neutral-700);
	--text-on-success-disabled: var(--neutral-900);
	--text-on-success-subtle-subtle: var(--neutral-400);
	--text-success: var(--neutral-900);
	--text-success-hover: var(--neutral-800);
	--text-success-active: var(--neutral-700);
	--text-on-warning: var(--neutral-900);
	--text-on-warning-hover: var(--neutral-800);
	--text-on-warning-active: var(--neutral-700);
	--text-on-warning-disabled: var(--neutral-900);
	--text-on-warning-subtle-subtle: var(--neutral-400);
	--text-warning: var(--neutral-900);
	--text-warning-hover: var(--neutral-800);
	--text-warning-active: var(--neutral-700);
	--text-on-danger: var(--neutral-900);
	--text-on-danger-hover: var(--neutral-800);
	--text-on-danger-active: var(--neutral-700);
	--text-on-danger-disabled: var(--neutral-900);
	--text-on-danger-subtle-subtle: var(--neutral-400);
	--text-danger: var(--neutral-900);
	--text-danger-hover: var(--neutral-800);
	--text-danger-active: var(--neutral-700);
	--button-neutral-solid-background: var(--accent-neutral);
	--button-neutral-solid-text: var(--text-on-neutral);
	--button-neutral-solid-hover-background: var(--accent-neutral-hover);
	--button-neutral-solid-hover-text: var(--text-on-neutral-hover);
	--button-neutral-solid-active-background: var(--accent-neutral-active);
	--button-neutral-solid-active-text: var(--text-neutral-active);
	--button-neutral-solid-focus-outline: var(--focus-outline);
	--button-neutral-solid-disabled-opacity: var(--opacity-disabled);
	--button-neutral-faded-text: var(--text-neutral);
	--button-neutral-faded-hover-text: var(--text-neutral-hover);
	--button-neutral-faded-hover-background: var(--accent-neutral-subtle);
	--button-neutral-faded-active-text: var(--text-neutral-active);
	--button-neutral-faded-active-background: var(--accent-neutral-subtle-hover);
	--button-neutral-faded-focus-outline: var(--focus-outline);
	--button-neutral-faded-disabled-opacity: var(--opacity-disabled);
	--button-neutral-bordered-border: var(--border-neutral);
	--button-neutral-bordered-text: var(--text-neutral);
	--button-neutral-bordered-hover-border: var(--border-neutral-hover);
	--button-neutral-bordered-hover-text: var(--text-neutral-hover);
	--button-neutral-bordered-active-border: var(--border-neutral-active);
	--button-neutral-bordered-active-text: var(--text-neutral-active);
	--button-neutral-bordered-focus-outline: var(--focus-outline);
	--button-neutral-bordered-disabled-opacity: var(--opacity-disabled);
	--button-neutral-ghost-text: var(--text-neutral);
	--button-neutral-ghost-border: var(--border-neutral);
	--button-neutral-ghost-hover-text: var(--text-neutral-subtle);
	--button-neutral-ghost-hover-background: var(--accent-neutral);
	--button-neutral-ghost-active-text: var(--text-neutral-active);
	--button-neutral-ghost-active-background: var(--accent-neutral-active);
	--button-neutral-ghost-focus-outline: var(--focus-outline);
	--button-neutral-ghost-disabled-opacity: var(--opacity-disabled);
	--button-primary-solid-background: var(--accent-primary);
	--button-primary-solid-text: var(--text-primary);
	--button-primary-solid-hover-background: var(--accent-primary-hover);
	--button-primary-solid-hover-text: var(--text-primary-hover);
	--button-primary-solid-active-background: var(--accent-primary-active);
	--button-primary-solid-active-text: var(--text-primary-active);
	--button-primary-solid-focus-outline: var(--focus-outline);
	--button-primary-solid-disabled-opacity: var(--opacity-disabled);
	--button-primary-faded-text: var(--text-primary);
	--button-primary-faded-hover-text: var(--text-primary-hover);
	--button-primary-faded-hover-background: var(--accent-primary-subtle);
	--button-primary-faded-active-text: var(--text-primary-active);
	--button-primary-faded-active-background: var(--accent-primary-subtle-hover);
	--button-primary-faded-focus-outline: var(--focus-outline);
	--button-primary-faded-disabled-opacity: var(--opacity-disabled);
	--button-primary-bordered-border: var(--border-primary);
	--button-primary-bordered-text: var(--text-primary);
	--button-primary-bordered-hover-border: var(--border-primary-hover);
	--button-primary-bordered-hover-text: var(--text-primary-hover);
	--button-primary-bordered-active-border: var(--border-primary-active);
	--button-primary-bordered-active-text: var(--text-primary-active);
	--button-primary-bordered-focus-outline: var(--focus-outline);
	--button-primary-bordered-disabled-opacity: var(--opacity-disabled);
	--button-primary-ghost-text: var(--text-primary);
	--button-primary-ghost-border: var(--border-primary);
	--button-primary-ghost-hover-text: var(--text-primary-subtle);
	--button-primary-ghost-hover-background: var(--accent-primary);
	--button-primary-ghost-active-text: var(--text-primary-active);
	--button-primary-ghost-active-background: var(--accent-primary-active);
	--button-primary-ghost-focus-outline: var(--focus-outline);
	--button-primary-ghost-disabled-opacity: var(--opacity-disabled);
	--button-secondary-solid-background: var(--accent-secondary);
	--button-secondary-solid-text: var(--text-secondary);
	--button-secondary-solid-hover-background: var(--accent-secondary-hover);
	--button-secondary-solid-hover-text: var(--text-secondary-hover);
	--button-secondary-solid-active-background: var(--accent-secondary-active);
	--button-secondary-solid-active-text: var(--text-secondary-active);
	--button-secondary-solid-focus-outline: var(--focus-outline);
	--button-secondary-solid-disabled-opacity: var(--opacity-disabled);
	--button-secondary-faded-text: var(--text-secondary);
	--button-secondary-faded-hover-text: var(--text-secondary-hover);
	--button-secondary-faded-hover-background: var(--accent-secondary-subtle);
	--button-secondary-faded-active-text: var(--text-secondary-active);
	--button-secondary-faded-active-background: var(--accent-secondary-subtle-hover);
	--button-secondary-faded-focus-outline: var(--focus-outline);
	--button-secondary-faded-disabled-opacity: var(--opacity-disabled);
	--button-secondary-bordered-border: var(--border-secondary);
	--button-secondary-bordered-text: var(--text-secondary);
	--button-secondary-bordered-hover-border: var(--border-secondary-hover);
	--button-secondary-bordered-hover-text: var(--text-secondary-hover);
	--button-secondary-bordered-active-border: var(--border-secondary-active);
	--button-secondary-bordered-active-text: var(--text-secondary-active);
	--button-secondary-bordered-focus-outline: var(--focus-outline);
	--button-secondary-bordered-disabled-opacity: var(--opacity-disabled);
	--button-secondary-ghost-text: var(--text-secondary);
	--button-secondary-ghost-border: var(--border-secondary);
	--button-secondary-ghost-hover-text: var(--text-secondary-subtle);
	--button-secondary-ghost-hover-background: var(--accent-secondary);
	--button-secondary-ghost-active-text: var(--text-secondary-active);
	--button-secondary-ghost-active-background: var(--accent-secondary-active);
	--button-secondary-ghost-focus-outline: var(--focus-outline);
	--button-secondary-ghost-disabled-opacity: var(--opacity-disabled);
	--button-success-solid-background: var(--accent-success);
	--button-success-solid-text: var(--text-success);
	--button-success-solid-hover-background: var(--accent-success-hover);
	--button-success-solid-hover-text: var(--text-success-hover);
	--button-success-solid-active-background: var(--accent-success-active);
	--button-success-solid-active-text: var(--text-success-active);
	--button-success-solid-focus-outline: var(--focus-outline);
	--button-success-solid-disabled-opacity: var(--opacity-disabled);
	--button-success-faded-text: var(--text-success);
	--button-success-faded-hover-text: var(--text-success-hover);
	--button-success-faded-hover-background: var(--accent-success-subtle);
	--button-success-faded-active-text: var(--text-success-active);
	--button-success-faded-active-background: var(--accent-success-subtle-hover);
	--button-success-faded-focus-outline: var(--focus-outline);
	--button-success-faded-disabled-opacity: var(--opacity-disabled);
	--button-success-bordered-border: var(--border-success);
	--button-success-bordered-text: var(--text-success);
	--button-success-bordered-hover-border: var(--border-success-hover);
	--button-success-bordered-hover-text: var(--text-success-hover);
	--button-success-bordered-active-border: var(--border-success-active);
	--button-success-bordered-active-text: var(--text-success-active);
	--button-success-bordered-focus-outline: var(--focus-outline);
	--button-success-bordered-disabled-opacity: var(--opacity-disabled);
	--button-success-ghost-text: var(--text-success);
	--button-success-ghost-border: var(--border-success);
	--button-success-ghost-hover-text: var(--text-success-subtle);
	--button-success-ghost-hover-background: var(--accent-success);
	--button-success-ghost-active-text: var(--text-success-active);
	--button-success-ghost-active-background: var(--accent-success-active);
	--button-success-ghost-focus-outline: var(--focus-outline);
	--button-success-ghost-disabled-opacity: var(--opacity-disabled);
	--button-warning-solid-background: var(--accent-warning);
	--button-warning-solid-text: var(--text-warning);
	--button-warning-solid-hover-background: var(--accent-warning-hover);
	--button-warning-solid-hover-text: var(--text-warning-hover);
	--button-warning-solid-active-background: var(--accent-warning-active);
	--button-warning-solid-active-text: var(--text-warning-active);
	--button-warning-solid-focus-outline: var(--focus-outline);
	--button-warning-solid-disabled-opacity: var(--opacity-disabled);
	--button-warning-faded-text: var(--text-warning);
	--button-warning-faded-hover-text: var(--text-warning-hover);
	--button-warning-faded-hover-background: var(--accent-warning-subtle);
	--button-warning-faded-active-text: var(--text-warning-active);
	--button-warning-faded-active-background: var(--accent-warning-subtle-hover);
	--button-warning-faded-focus-outline: var(--focus-outline);
	--button-warning-faded-disabled-opacity: var(--opacity-disabled);
	--button-warning-bordered-border: var(--border-warning);
	--button-warning-bordered-text: var(--text-warning);
	--button-warning-bordered-hover-border: var(--border-warning-hover);
	--button-warning-bordered-hover-text: var(--text-warning-hover);
	--button-warning-bordered-active-border: var(--border-warning-active);
	--button-warning-bordered-active-text: var(--text-warning-active);
	--button-warning-bordered-focus-outline: var(--focus-outline);
	--button-warning-bordered-disabled-opacity: var(--opacity-disabled);
	--button-warning-ghost-text: var(--text-warning);
	--button-warning-ghost-border: var(--border-warning);
	--button-warning-ghost-hover-text: var(--text-warning-subtle);
	--button-warning-ghost-hover-background: var(--accent-warning);
	--button-warning-ghost-active-text: var(--text-warning-active);
	--button-warning-ghost-active-background: var(--accent-warning-active);
	--button-warning-ghost-focus-outline: var(--focus-outline);
	--button-warning-ghost-disabled-opacity: var(--opacity-disabled);
	--button-danger-solid-background: var(--accent-danger);
	--button-danger-solid-text: var(--text-danger);
	--button-danger-solid-hover-background: var(--accent-danger-hover);
	--button-danger-solid-hover-text: var(--text-danger-hover);
	--button-danger-solid-active-background: var(--accent-danger-active);
	--button-danger-solid-active-text: var(--text-danger-active);
	--button-danger-solid-focus-outline: var(--focus-outline);
	--button-danger-solid-disabled-opacity: var(--opacity-disabled);
	--button-danger-faded-text: var(--text-danger);
	--button-danger-faded-hover-text: var(--text-danger-hover);
	--button-danger-faded-hover-background: var(--accent-danger-subtle);
	--button-danger-faded-active-text: var(--text-danger-active);
	--button-danger-faded-active-background: var(--accent-danger-subtle-hover);
	--button-danger-faded-focus-outline: var(--focus-outline);
	--button-danger-faded-disabled-opacity: var(--opacity-disabled);
	--button-danger-bordered-border: var(--border-danger);
	--button-danger-bordered-text: var(--text-danger);
	--button-danger-bordered-hover-border: var(--border-danger-hover);
	--button-danger-bordered-hover-text: var(--text-danger-hover);
	--button-danger-bordered-active-border: var(--border-danger-active);
	--button-danger-bordered-active-text: var(--text-danger-active);
	--button-danger-bordered-focus-outline: var(--focus-outline);
	--button-danger-bordered-disabled-opacity: var(--opacity-disabled);
	--button-danger-ghost-text: var(--text-danger);
	--button-danger-ghost-border: var(--border-danger);
	--button-danger-ghost-hover-text: var(--text-danger-subtle);
	--button-danger-ghost-hover-background: var(--accent-danger);
	--button-danger-ghost-active-text: var(--text-danger-active);
	--button-danger-ghost-active-background: var(--accent-danger-active);
	--button-danger-ghost-focus-outline: var(--focus-outline);
	--button-danger-ghost-disabled-opacity: var(--opacity-disabled);
	--button-spacing-padding-sm-x: var(--spacing-4);
	--button-spacing-padding-sm-y: var(--spacing-2);
	--button-spacing-padding-md-x: var(--spacing-8);
	--button-spacing-padding-md-y: var(--spacing-4);
	--button-spacing-padding-lg-x: var(--spacing-12);
	--button-spacing-padding-lg-y: var(--spacing-8);
	--button-border-size: var(--border-width);
	--button-border-radius-sm: var(--radius-sm);
	--button-border-radius-md: var(--radius-md);
	--button-border-radius-lg: var(--radius-lg);
	--button-border-radius-xl: var(--radius-xl);
	--button-border-radius-full: var(--radius-full);
	--button-font-size-sm: var(--text-size-16);
	--button-font-size-md: var(--text-size-20);
	--button-font-size-lg: var(--text-size-24);

.dark {
	--background-subtle: var(--neutral-950);
	--background-default: var(--neutral-900);
	--surface-subtle: var(--neutral-900);
	--surface-default: var(--neutral-800);
	--accent-neutral: var(--neutral-300);
	--accent-neutral-hover: var(--neutral-200);
	--accent-neutral-active: var(--neutral-100);
	--accent-neutral-negative: var(--neutral-700);
	--accent-neutral-negative-hover: var(--neutral-800);
	--accent-neutral-negative-active: var(--neutral-900);
	--accent-neutral-subtle: var(--neutral-950);
	--accent-neutral-subtle-hover: var(--neutral-900);
	--accent-neutral-subtle-active: var(--neutral-800);
	--accent-primary: var(--primary-500);
	--accent-primary-hover: var(--primary-400);
	--accent-primary-active: var(--primary-300);
	--accent-primary-negative: var(--primary-500);
	--accent-primary-negative-hover: var(--primary-600);
	--accent-primary-negative-active: var(--primary-700);
	--accent-primary-subtle: var(--primary-950);
	--accent-primary-subtle-hover: var(--primary-900);
	--accent-primary-subtle-active: var(--primary-800);
	--accent-primary-disabled: var(--primary-800);
	--accent-secondary: var(--secondary-500);
	--accent-secondary-hover: var(--secondary-400);
	--accent-secondary-active: var(--secondary-300);
	--accent-secondary-negative: var(--secondary-500);
	--accent-secondary-negative-hover: var(--secondary-600);
	--accent-secondary-negative-active: var(--secondary-700);
	--accent-secondary-subtle: var(--secondary-950);
	--accent-secondary-subtle-hover: var(--secondary-900);
	--accent-secondary-subtle-active: var(--secondary-800);
	--accent-secondary-disabled: var(--secondary-800);
	--accent-success: var(--success-500);
	--accent-success-hover: var(--success-400);
	--accent-success-active: var(--success-300);
	--accent-success-negative: var(--success-500);
	--accent-success-negative-hover: var(--success-600);
	--accent-success-negative-active: var(--success-700);
	--accent-success-subtle: var(--success-950);
	--accent-success-subtle-hover: var(--success-900);
	--accent-success-subtle-active: var(--success-800);
	--accent-success-disabled: var(--success-800);
	--accent-warning: var(--warning-500);
	--accent-warning-hover: var(--warning-400);
	--accent-warning-active: var(--warning-300);
	--accent-warning-negative: var(--warning-500);
	--accent-warning-negative-hover: var(--warning-600);
	--accent-warning-negative-active: var(--warning-700);
	--accent-warning-subtle: var(--warning-950);
	--accent-warning-subtle-hover: var(--warning-900);
	--accent-warning-subtle-active: var(--warning-800);
	--accent-warning-disabled: var(--warning-800);
	--accent-danger: var(--danger-500);
	--accent-danger-hover: var(--danger-400);
	--accent-danger-active: var(--danger-300);
	--accent-danger-negative: var(--danger-500);
	--accent-danger-negative-hover: var(--danger-600);
	--accent-danger-negative-active: var(--danger-700);
	--accent-danger-subtle: var(--danger-950);
	--accent-danger-subtle-hover: var(--danger-900);
	--accent-danger-subtle-active: var(--danger-800);
	--accent-danger-disabled: var(--danger-800);
	--border-neutral: var(--neutral-700);
	--border-neutral-hover: var(--neutral-600);
	--border-neutral-active: var(--neutral-500);
	--border-neutral-negative: var(--neutral-300);
	--border-neutral-negative-hover: var(--neutral-400);
	--border-neutral-negative-active: var(--neutral-500);
	--border-primary: var(--primary-500);
	--border-primary-hover: var(--primary-400);
	--border-primary-active: var(--primary-300);
	--border-primary-negative: var(--primary-500);
	--border-primary-negative-hover: var(--primary-600);
	--border-primary-negative-active: var(--primary-700);
	--border-secondary: var(--secondary-500);
	--border-secondary-hover: var(--secondary-400);
	--border-secondary-active: var(--secondary-300);
	--border-secondary-negative: var(--secondary-500);
	--border-secondary-negative-hover: var(--secondary-600);
	--border-success: var(--success-500);
	--border-success-hover: var(--success-400);
	--border-success-active: var(--success-300);
	--border-success-negative: var(--success-500);
	--border-success-negative-hover: var(--success-600);
	--border-success-negative-active: var(--success-700);
	--border-warning: var(--warning-500);
	--border-warning-hover: var(--warning-400);
	--border-warning-active: var(--warning-300);
	--border-warning-negative: var(--warning-500);
	--border-warning-negative-hover: var(--warning-600);
	--border-warning-negative-active: var(--warning-700);
	--border-danger: var(--danger-500);
	--border-danger-hover: var(--danger-400);
	--border-danger-active: var(--danger-300);
	--border-danger-negative: var(--danger-500);
	--border-danger-negative-hover: var(--danger-600);
	--border-danger-negative-active: var(--danger-700);
	--border-focus-outline: var(--primary-500);
	--text-default: var(--neutral-100);
	--text-subtle: var(--neutral-300);
	--text-disabled: var(--neutral-500);
	--text-inverse: var(--neutral-900);
	--text-link: var(--primary-500);
	--text-link-hover: var(--primary-400);
	--text-link-active: var(--primary-300);
	--text-link-visited: var(--primary-300);
	--text-link-disabled: var(--neutral-500);
	--text-on-neutral: var(--neutral-800);
	--text-on-neutral-hover: var(--neutral-900);
	--text-on-neutral-active: var(--neutral-950);
	--text-on-neutral-disabled: var(--neutral-100);
	--text-on-neutral-subtle-subtle: var(--neutral-700);
	--text-neutral: var(--neutral-100);
	--text-neutral-hover: var(--neutral-200);
	--text-neutral-active: var(--neutral-300);
	--text-on-primary: var(--neutral-100);
	--text-on-primary-hover: var(--neutral-200);
	--text-on-primary-active: var(--neutral-300);
	--text-on-primary-disabled: var(--neutral-100);
	--text-on-primary-subtle-subtle: var(--neutral-700);
	--text-primary: var(--neutral-100);
	--text-primary-hover: var(--neutral-200);
	--text-primary-active: var(--neutral-300);
	--text-on-secondary: var(--neutral-100);
	--text-on-secondary-hover: var(--neutral-200);
	--text-on-secondary-active: var(--neutral-300);
	--text-on-secondary-disabled: var(--neutral-100);
	--text-on-secondary-subtle-subtle: var(--neutral-700);
	--text-secondary: var(--neutral-100);
	--text-secondary-hover: var(--neutral-200);
	--text-secondary-active: var(--neutral-300);
	--text-on-success: var(--neutral-100);
	--text-on-success-hover: var(--neutral-200);
	--text-on-success-active: var(--neutral-300);
	--text-on-success-disabled: var(--neutral-100);
	--text-on-success-subtle-subtle: var(--neutral-700);
	--text-success: var(--neutral-100);
	--text-success-hover: var(--neutral-200);
	--text-success-active: var(--neutral-300);
	--text-on-warning: var(--neutral-100);
	--text-on-warning-hover: var(--neutral-200);
	--text-on-warning-active: var(--neutral-300);
	--text-on-warning-disabled: var(--neutral-100);
	--text-on-warning-subtle-subtle: var(--neutral-700);
	--text-warning: var(--neutral-100);
	--text-warning-hover: var(--neutral-200);
	--text-warning-active: var(--neutral-300);
	--text-on-danger: var(--neutral-100);
	--text-on-danger-hover: var(--neutral-200);
	--text-on-danger-active: var(--neutral-300);
	--text-on-danger-disabled: var(--neutral-100);
	--text-on-danger-subtle-subtle: var(--neutral-700);
	--text-danger: var(--neutral-100);
	--text-danger-hover: var(--neutral-200);
	--text-danger-active: var(--neutral-300);
}
}
}
